*:not(#editor):not(#editor *) {
    font-family: 'Noto Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sidebar {
    height: 100%;
    width: 300px;
    border-right: 1px solid #d1d1d1;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

#app_header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d1d1d1;
}

#nav {
    width: 100%;
    flex: 1;
}

.nav_elm * {
    color: #465362;
}

.nav_elm {
    cursor: pointer;
    height: 65px;
    width: 100%;
    display: flex;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    align-items: center;
}

.nav_elm_active {
    background: #48AEF31A;
}

.nav_elm_active * {
    color: #2fabfd !important;
}

.nav_elm:hover {
    background: #1e446e1a;
}

.nav_elm i {
    font-size: 30px;
    margin-right: 20px;
}

.nav_elm p {
    font-size: 19px;
}

#app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    overflow: scroll;
}

.tooltip:before {
    z-index: 1000;
}

@media (max-width: 768px) {
    #sidebar {
        position: absolute;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }
    #sidebar.show {
        transform: translateX(0);
    }
}
